* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a0;
}

:root {
    --body-color: #f7f7f7;
    --btn-color: #fff;
    --dropdown-hover: #f1f6ff;

    --sidebar-color: #ffffff;

    --sidebar-text: #f1f6ff;
    --primary-color: #156eac;
    --sidebar-text: #ebeefd;

    --btn-primary-bg: #f1f6ff;
    --btn-primary-color: #156eac;
    --btn-primary-hover: #d0e1ff;
    --btn-danger-bg: #fbeef5;
    --btn-danger-color: #c41f61;
    --btn-danger-hover: #f4d5e3;
    --btn-secondary-bg: #dbdbdb;
    --btn-secondary-color: #333333;
    --btn-secondary-hover: #afadad;

    --button-color: #ebeefd;
    --button-hover: #1b309d;

    --toggle-color: #1b309d;
    --text-color: #4b4b4b;
    --switch-color: #ebeefd;

    --file-input: #6e6e6e;
    --form-input: #f2f2f2;

    --tran-03: all 0.2s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.3s ease;
}

body.dark {
    --body-color: #1a1c1e;
    --btn-color: #303234;
    --dropdown-hover: #4c4c4c;

    --sidebar-color: #1a1c1e;
    --sidebar-text: #303234;
    --primary-color: #ccc;
    --button-color: #2b2e30;
    --button-hover: #3e4042;
    --switch-color: #ebeefd;

    --file-input: #6e6e6e;
    --form-input: #dbdbdb;

    --toggle-color: #1b309d;
    --text-color: #e7e7e7;

    --btn-primary-bg: #00497d;
    --btn-primary-color: #e7e7e7;
    --btn-primary-hover: #023c66;
    --btn-danger-bg: #af0345;
    --btn-danger-color: #ffd9de;
    --btn-danger-hover: #900038;
    --btn-secondary-bg: #303234;
    --btn-secondary-color: #e7e7e7;
    --btn-secondary-hover: #292929;
}

body {
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.navbar {
    height: 65px;
    background-color: var(--body-color);
    z-index: 1;
    transition: var(--tran-05);
}

.navbar .navbar-brand {
    font-size: 24px;
    font-weight: 600;
}

.navbar-brand:focus,
.navbar-brand:hover {
    color: var(--text-color);
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 90px;
    border-right: 1px solid var(--sidebar-text);
    padding: 14px 14px 20px 14px;
    background: var(--sidebar-color);
    z-index: 100;
    transition: var(--tran-05);
}

.sidebar.open {
    width: 260px;
}

.sidebar.close {
    left: 0;
}

.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 0;
    transition: var(--tran-03);
}

.sidebar.open .text {
    opacity: 1;
}

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}
.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
}

.sidebar header .toggle {
    position: absolute;
    top: 52%;
    right: 12px;
    transform: translateY(-50%);
    height: 35px;
    width: 35px;
    background-color: var(--toggle-color);
    color: var(--body-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 17px;
}

.sidebar .menu .menu-links {
    padding-left: 0;
}

.sidebar li a {
    list-style: none;
    height: 100%;
    display: flex;
    background-color: transparent;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--sidebar-text);
    color: var(--primary-color);
}

.sidebar li a.active {
    background-color: var(--sidebar-text);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--primary-color);
}

.sidebar li a.active .icon,
.sidebar li a.active .text {
    background-color: var(--sidebar-text);
    color: var(--primary-color);
}

.sidebar .menu-bar {
    height: calc(100% - 35px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    display: flex;
    align-items: center;
    border-radius: 6px;
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode .sun-moon i {
    position: absolute;
    opacity: 1;
    transition: var(--tran-05);
}

.mode .sun-moon i.sun {
    opacity: 1;
    transition: var(--tran-05);
}

.mode .sun-moon i.moon {
    opacity: 0;
    transition: var(--tran-05);
}

body.dark .mode .sun-moon i.sun {
    opacity: 0;
    transition: var(--tran-05);
}

body.dark .mode .sun-moon i.moon {
    opacity: 1;
    transition: var(--tran-05);
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    width: 55px;
    height: 30px;
    border-radius: 25px;
    background-color: #ccc;
    transition: var(--tran-04);
}

.switch::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 3px;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 50%;
    transition: var(--tran-05);
}

body.dark .toggle-switch .switch {
    background-color: rgb(0, 221, 80);
}

body.dark .switch::before {
    left: 26px;
}

body.dark .home .text {
    color: var(--text-color);
}

.titulo {
    color: var(--text-color);
}

h3 {
    font-weight: 600;
    margin: 0;
}

/* Rows */
.columna {
    padding-right: 0;
    padding-left: 0;
}

/* Estilo del Carrucel */
.carousel {
    position: relative;
}

.carousel-inner {
    border-radius: 10px;
}

.titulo-productos {
    position: absolute;
    top: 0;
    left: 15px;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    padding: 12px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 500;
    color: #fff;
    overflow: hidden;
    border: none;
    z-index: 0;
}

.btn-imagenes {
    position: absolute;
    bottom: 10px;
    right: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 8px;
    margin-top: 20px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    background-color: #1f347b;
    overflow: hidden;
    border: none;
    z-index: 1;
}

.btn-imagenes:before {
    transition: 1s;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.btn-imagenes:hover {
    background-color: #fff;
    color: #202960;
    transition: all 0.5s ease-out;
}

.btn-imagenes:hover:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: #255ea4;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    animation: pulse 2s infinite;
}

.btn-imagenes i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-color {
    color: var(--text-color);
}

.carousel-control-next,
.carousel-control-prev {
    z-index: 0;
}

@keyframes pulse {
    0% {
        width: 0;
        height: 0;
        opacity: 0.5;
    }

    100% {
        width: 200px;
        height: 200px;
        opacity: 0;
    }
}

/* Modal */
.modal-header {
    border-bottom-color: var(--sidebar-text);
}

.modal-footer {
    border-top-color: var(--sidebar-text);
}

.modal-content {
    background-color: var(--sidebar-color);
}

.add-modal {
    border-right: 1px solid var(--sidebar-text);
}

.td-marca {
    text-align: center;
    vertical-align: middle;
}

.btn-cerrar {
    --bs-btn-close-opacity: 0.5;
    --bs-btn-close-hover-opacity: 0.75;
    --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-btn-close-focus-opacity: 1;
    --bs-btn-close-disabled-opacity: 0.25;
    --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
    box-sizing: content-box;
    width: 1.5em;
    height: 1.5em;
    color: var(--text-color);
    background: transparent var(--bs-btn-close-bg) center/1em auto no-repeat;
    border: 0;
    border-radius: 0.375rem;
    opacity: var(--bs-btn-close-opacity);
}

.form input {
    outline: 0;
    background: var(--form-input);
    border-radius: 4px;
    border: 0;
    margin: 10px 0 10px 0;
    padding: 15px;
    font-size: 14px;
}

.form select {
    outline: 0;
    background: var(--form-input);
    border-radius: 4px;
    border: 0;
    margin: 10px 0 10px 0;
    padding: 15px;
    font-size: 14px;
}

.form textarea {
    outline: 0;
    background: var(--form-input);
    border-radius: 4px;
    width: 100%;
    border: 0;
    margin: 10px 0 10px 0;
    padding: 15px;
    font-size: 14px;
}

.file-upload-form h2 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.form-select {
    outline: 0;
    background: #f2f2f2;
    border-radius: 4px;
    border: 0;
    margin: 8px 0 15px 0;
    padding: 15px;
    font-size: 14px;
}

.file-upload-form p {
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
}

.form-text {
    padding: 0;
}

.file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: var(--file-input);
    border-radius: 4px;
    margin: 8px 0 8px 0;
}

.file-upload-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75px;
    background-color: var(--file-input);
    border-radius: 4px;
    margin: 8px 0 8px 0;
}

.file-upload-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 115px;
    background-color: var(--file-input);
    border-radius: 10px;
    margin-top: 8px;
}

.file-upload-producto p {
    font-size: 18px;
    color: white;
    margin: 0;
}

.file-upload-modal p {
    font-size: 18px;
    color: white;
    margin: 0;
}

.file-upload-modal small {
    color: white;
}

.file-upload p {
    font-size: 18px;
    color: white;
    margin: 0;
}

.file-upload small {
    color: white;
}

.file-upload-input {
    display: none;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.boton {
    border-radius: 9px;
    border: 0;
    padding: 11px 26px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
}

.btn-upload {
    margin-top: 15px;
    text-align: center;
}

.boton:focus {
    color: #fff;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 500;
    background-color: #f5f5f5;
    color: #444;
}

.custom-file-upload:hover {
    background-color: #e0e0e0;
}

.invalid-feedback {
    display: none;
    width: 100%;
    font-weight: 500;
    font-size: 0.895em;
    color: var(--bs-form-invalid-color);
    text-align: center;
    margin: 0 0 4px 0;
}

/* Notificaciones */
.notificacion {
    position: absolute;
    bottom: 70px;
    right: 20px;
    width: max-content;
    border-radius: 5px;
    background-color: #313e2c;
    color: #aaec8a;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade-in 6s linear;
}

.notificacion .cuerpo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 8px;
}

.notificacion .icono {
    height: 26px;
    width: 26px;
    margin-right: 4px;
}

.notificacion .progreso {
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: calc(100% - 8px);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    background: linear-gradient(to right, #313e2c, #aaec8a);
    border: inherit;
    animation: progress 1.5s 0.3s linear;
}

@keyframes fade-in {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    95% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes progress {
    to {
        transform: scaleX(1);
    }
}

/* Tabla */

.table-responsive {
    display: flex;
    flex-wrap: wrap;
}

.titulo-tabla {
    background-color: var(--sidebar-color);
}

.table-scroll {
    height: 205px;
    overflow-y: auto;
}

.acciones-div {
    display: inline-block;
}
.acciones-form {
    display: inline-block;
}

.btn {
    font-weight: 500;
}

.btn-warning {
    --bs-btn-color: #fff;
    --bs-btn-hover-color: #fff;
    --bs-btn-active-color: #fff;
}

.btn-info {
    --bs-btn-color: #fff;
    --bs-btn-hover-color: #fff;
    --bs-btn-active-color: #fff;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
    font-size: 16px;
    border-color: var(--sidebar-text);
    font-family: Arial, sans-serif;
    color: var(--text-color);
}

.table > :not(caption) > * > * {
    padding: 0.5rem 1.5rem;
}

table tr:hover {
    background-color: var(--body-color);
    --bs-table-hover-color: var(--text-color);
}

th {
    color: var(--text-color);
    font-weight: 600;
    padding: 10px;
    font-size: 20px;
    text-align: left;
    border-bottom: var(--sidebar-text);
}
td {
    border-bottom: var(--sidebar-text);
}
tr {
    font-weight: 500;
    font-size: 16px;
    color: var(--text-color);
    border-bottom: var(--sidebar-text);
}

img.imagen {
    max-width: 100px;
    height: auto;
}

img.editar-imagen {
    max-width: 96%;
    height: auto;
}

a.btn {
    color: #fff;
}

form.delete-form {
    display: inline-block;
    margin: 0;
    padding: 0;
}
button.btn-delete {
    display: inline-block;
    margin: 0;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #f44336;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
}
button.btn-delete:hover {
    background-color: #d32f2f;
}

.imagen-ver {
    width: 100%;
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    border-radius: 0.375rem;
}

.btn-group > :not(.btn-check) + .btn {
    border-radius: 0.375rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--body-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loading-spinner {
    width: 100px;
    height: 100px;
    border: 5px solid #fff;
    border-top-color: var(--button-hover);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Navbar */
nav {
    height: 64px;
}

.brand-text {
    font-weight: 600;
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: rgb(0, 221, 80);
}

input:focus + .slider {
    box-shadow: 0 0 1px rgb(0, 221, 80);
}

input:checked + .slider:before {
    transform: translateX(1.5em);
}

.toggle-title {
    margin-right: 10px;
    font-size: 16px;
    font-weight: 600;
}

/* Buscardor */
.buscador {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    padding-left: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.input-buscar {
    flex: 1;
    width: 280px;
    max-width: 280px;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    font-size: 0.9em;
    caret-color: #1b309d;
}

.icono-buscar {
    cursor: text;
    padding: 0 12px;
    margin-top: 5px;
}

/* Dropup menu */
.dropdown {
    position: fixed;
    bottom: 15px;
    right: 20px;
    z-index: 1;
}

.dropdown li {
    height: 50px;
    padding: 1rem;
    margin-bottom: 5px;
    border-radius: 6px;
    list-style: none;
    display: flex;
    align-items: center;
}

.dropdown li:hover a,
.dropdown li:hover .dropdown__icon {
    color: var(--primary-color);
}

.dropdown li:hover {
    background-color: var(--dropdown-hover);
    color: var(--primary-color);
}

.dropdown__button,
.dropdown__item {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
}

.dropdown__button {
    border: none;
    outline: none;
    color: var(--text-color);
    background-color: var(--btn-color);
    padding: 1rem;
    border-radius: 0.75rem;
    cursor: pointer;
}

.dropdown__icon,
.dropdown__icons {
    font-size: 1.25rem;
    color: var(--text-color);
}

.dropdown__name {
    font-weight: 500;
}

.dropdown__icons {
    width: 24px;
    height: 24px;
    display: grid;
    place-items: center;
}

.dropdown__arrow,
.dropdown__close {
    position: absolute;
    transition: opacity 0.1s, transform 0.4s;
}

.dropdown__close {
    opacity: 0;
}

.dropdown__menu {
    background-color: var(--btn-color);
    padding: 0.5rem 0.5rem 0.2rem;
    border-radius: 0.75rem;
    position: absolute;
    width: 100%;
    left: 0;
    color: var(--text-color);
    bottom: 3rem;
    transform: scale(0.1);
    transform-origin: 10rem 9.5rem;
    pointer-events: none;
    transition: opacity 0.4s, transform 0.4s;
    opacity: 0;
}

.dropdown__item {
    cursor: pointer;
    transition: color 0.3s;
}

.dropdown__item a {
    color: var(--text-color);
    text-decoration: none;
}

.show-dropdown .dropdown__close {
    opacity: 1;
    transform: rotate(-180deg);
}

.show-dropdown .dropdown__arrow {
    opacity: 0;
    transform: rotate(-180deg);
}

.show-dropdown .dropdown__menu {
    opacity: 1;
    transform: scale(1);
    pointer-events: initial;
}

/* Dropdown */
.dropdown-new {
    position: fixed;
    top: 8px;
    right: 20px;
    z-index: 1;
}

.dropdown-new li {
    height: 50px;
    padding: 1rem;
    margin-bottom: 5px;
    border-radius: 6px;
    list-style: none;
    display: flex;
    align-items: center;
}

.dropdown-new li:hover a,
.dropdown-new li:hover .dropdown-new__icon {
    color: var(--primary-color);
}

.dropdown-new li:hover {
    background-color: var(--dropdown-hover);
    color: var(--primary-color);
}

.dropdown-new__button,
.dropdown-new__item {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
}

.dropdown-new__button {
    border: none;
    outline: none;
    color: var(--text-color);
    background-color: var(--btn-color);
    padding: 0.75rem;
    border-radius: 0.75rem;
    cursor: pointer;
}

.dropdown-new__icon,
.dropdown-new__icons {
    font-size: 1.25rem;
    color: var(--text-color);
}

.dropdown-new__name {
    font-weight: 500;
}

.dropdown-new__icons {
    width: 24px;
    height: 24px;
    display: grid;
    place-items: center;
}

.dropdown-new__arrow,
.dropdown-new__close {
    position: absolute;
    transition: opacity 0.1s, transform 0.4s;
}

.dropdown-new__close {
    opacity: 0;
}

.dropdown-new__menu {
    background-color: var(--btn-color);
    padding: 0.5rem 0.5rem 0.2rem;
    border-radius: 0.75rem;
    position: absolute;
    width: 100%;
    left: 0;
    color: var(--text-color);
    top: 3.5rem;
    transform: scaleY(0);
    transform-origin: top;
    pointer-events: none;
    transition: opacity 0.4s, transform 0.4s;
    opacity: 0;
}

.dropdown-new__item {
    cursor: pointer;
    transition: color 0.3s;
}

.dropdown-new__item a {
    color: var(--text-color);
    text-decoration: none;
}

.show-dropdown-new .dropdown-new__close {
    opacity: 1;
    transform: rotate(-180deg);
}

.show-dropdown-new .dropdown-new__arrow {
    opacity: 0;
    transform: rotate(180deg);
}

.show-dropdown-new .dropdown-new__menu {
    opacity: 1;
    transform: scaleY(1);
    pointer-events: initial;
}

/* Toggle producto en venta */
.toggle-switch-venta {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 10px;
    height: 34px;
}

.toggle-switch-venta .toggle-container {
    position: relative;
    width: 60px;
    height: 34px;
}

.toggle-switch-venta .toggle-input {
    display: none;
}

.toggle-switch-venta .toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 30px;
    background-color: #dc3535;
    border-radius: 17px;
    cursor: pointer;
}

.toggle-switch-venta .toggle-label:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 3px;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.3s;
}

.toggle-switch-venta .toggle-input:checked + .toggle-label {
    background-color: #2ecc71;
}

.toggle-switch-venta .toggle-input:checked + .toggle-label:after {
    transform: translateX(23px);
}

/* Botones */
.btn-danger {
    color: var(--btn-danger-color);
    background-color: var(--btn-danger-bg);
    border-color: var(--btn-danger-bg);
}

.btn-danger:active {
    --bs-btn-active-color: var(--btn-danger-color);
    --bs-btn-active-bg: var(--btn-danger-bg);
    --bs-btn-active-border-color: var(--btn-danger-bg);
}

.btn-danger:focus {
    box-shadow: var(--btn-danger-hover);
}

.btn-danger:hover {
    color: var(--btn-danger-color);
    background-color: var(--btn-danger-hover);
    border-color: var(--btn-danger-hover);
}

.btn-secondary {
    color: var(--btn-secondary-color);
    background-color: var(--btn-secondary-bg);
    border-color: var(--btn-secondary-bg);
}

.btn-secondary:active {
    --bs-btn-active-color: var(--btn-secondary-color);
    --bs-btn-active-bg: var(--btn-secondary-hover);
    --bs-btn-active-border-color: var(--btn-secondary-hover);
}

.btn-secondary:focus {
    box-shadow: var(--btn-secondary-hover);
}

.btn-secondary:hover {
    color: var(--btn-secondary-color);
    background-color: var(--btn-secondary-hover);
    border-color: var(--btn-secondary-hover);
}

.btn-primary {
    color: var(--btn-primary-color);
    background-color: var(--btn-primary-bg);
    border-color: var(--btn-primary-bg);
}

.btn-primary:active {
    --bs-btn-active-color: var(--btn-primary-color);
    --bs-btn-active-bg: var(--btn-primary-bg);
    --bs-btn-active-border-color: var(--btn-primary-bg);
}

.btn-primary:focus {
    box-shadow: var(--btn-primary-hover);
}

.btn-primary:hover {
    color: var(--btn-primary-color);
    background-color: var(--btn-primary-hover);
    border-color: var(--btn-primary-hover);
}
